<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>

  <meta charset="utf-8">
  <meta name="description" content="Voucher Singu">
  <meta name="author" content="@lulumeisterr">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="moda, beleza , singu , manicure, massagista"/>
  <meta http-equiv="cache-control" content="no-cache" />

    <!-- CSS -->

  
    <link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap/css/estilo.css">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-purple fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
<div class="container">

      <%if(typeof errosValidacao !== 'undefined'){%>
          <%for(var i=0;i<errosValidacao.length;i++){%>
          <div class="alert alert-danger" ><%=errosValidacao[i].msg%></div>
            <%}%>
          <%}%>



  <div class="jumbotron">
    <h1 class="text-center">Vouchers</h1>
    <hr class="my-4">
  </div>

<fieldset class="fild"><p class="lab">Filter Results</p></fieldset>

    <div class="dropdown">
        <button class="btn btn-default3 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Settings
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button type="button" class="btn btn-small btn-primary" data-toggle="modal" data-target="#cadastrar">
                Cadastrar
              </button>
        </div>
      </div>

  <div class="table-responsive gn-tabela-simples" >
      <table class="table table-hover">

    <thead>
      <tr>
          <th>Código</th>
          <th>Campanha</th>
          <th>Inicio</th>
          <th>Fim</th>
          <th>Max</th>
          <th>Valor</th>
        <th class="table-propostas-col-acoes">Acoes</th>
      </tr>
        
    </thead>
    <tbody>
    
      
        <%for(var i=0;i<lista.length;i++) {%>
      <thead>
            <tr>
              <td><%=lista[i].codigo%></td>
              <td><%=lista[i].campanha%></td>
              <td><%=lista[i].inicio%></td>
              <td><%=lista[i].fim%></td>
              <td><%=lista[i].max%></td>
              <td><%=lista[i].valor%></td>  

            <td class="text-center">

             <a class="btn  btn-link" data-toggle="modal" 
             data-target="#cadastrar" title="Cadastrar">
             <i class="glyphicon glyphicon-pencil"></i>
            </a>
            
            
            <a class="btn  btn-link" data-toggle="modal" 
             data-target="#atualizar" title="Atualizar">
             <i class="glyphicon glyphicon-envelope"></i>
            </a>
           
           <a class="btn  btn-link" data-toggle="modal" 
             data-target="#remover" title="Remover">
             <i class=" glyphicon glyphicon-trash "></i>
            </a>
       
         </td>
          
      </thead>
            </tr>
            <%}%>
            </tbody>
  </table>

  <%for(var i=0;i<lista.length;i++) {%>
      <ul class="pagination">
          <li><a><%=[i]%></a></li>
      </ul> 
      <%}%>
</div>
  
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="cadastrar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Editar Voucher</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <form action="/vouchers" method="post">
          <div class="form-row">
        
            <div class="form-group col-md-6">
              <label id="move1" for="tCodigo"> CÓDIGO </label>
              <input type="text" class="form-control" name="codigo" id="tCodigo"  placeholder="lari100">
            </div>
      
            <div class="form-group col-md-6">
              <label id="move2" for="tValor"> VALOR </label>
              <input type="text" class="form-control" name="valor" id="tValor" placeholder="RS$ 20,00">
            </div>
          </div>
  

          <div class="form-group">
            <label id="move3" for="tCampanha"> CAMPANHA </label>
            <input type="text" class="form-control" name="campanha" id="tCampanha" placeholder="lariduartepedidos">
          </div>
  
    
          <div class="form-group">
            <label id="move4" for="tInicio"> INICIO </label>
            <input type="date" class="form-control" name="inicio" id="tInicio" placeholder="06/06/2017">
          </div>
    
    
          <div class="form-group">
            <label id="move5" for="tFim"> FIM </label>
            <input type="date" class="form-control" name="fim" id="tFim" placeholder="06/06/2019">
          </div>
   
          <div class="form-group">
            <label id="move6" for="tMax"> MAX </label>
            <input type="text" class="form-control" name="max" id="tMax" placeholder="lari100">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <input type="submit" class="btn btn-default2" value="Salvar e fechar">
      </div>
    </div>
  </div>
</form>
</div>

  
  <!-- Modal -->
  <div class="modal fade" id="remover" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle1">Remover</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
        <form action="/vouchers" method="delete">

              <div class="container">
            
                <div class="form-group col-md-3">
                  <label id="move1" for="tCodigo"> CÓDIGO </label>
                  <input type="text" class="form-control" name="codigo" id="tCodigo"  placeholder="lari100">
                </div>

        </div>

        </form>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <input type="submit" class="btn btn-primary" value="Deletar e fechar">
        </div>
      </div>
    </div>
  </div>

</div>

    <!-- Bootstrap core JavaScript -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>